.heading {
    color: rebeccapurple;
}

.box {
    border: 5px solid orangered;
    padding: 5%;
    font-size: 100px;    
    
}

.nought {
    color: gold;
    background: dodgerblue;
}

.cross {
    color: dodgerblue;
    background: gold;
}

.nought:hover {
    color: rgb(180, 154, 3);
    background: rgb(19, 87, 155);
}

.cross:hover {
    color: rgb(19, 87, 155);
    background: rgb(180, 154, 3);
}