.heading {
    color: rebeccapurple;
    padding-bottom: 5%;
}

.box {
    border: 5px solid orangered;
    padding: 2%;
    font-size: 100px; 
    width: 20%;
    height: 20%; 
    
}

.nought {
    color: gold;
    background: dodgerblue;
}

.cross {
    color: dodgerblue;
    background: gold;
}

.nought:hover {
    color: rgb(180, 154, 3);
    background: rgb(19, 87, 155);
}

.cross:hover {
    color: rgb(19, 87, 155);
    background: rgb(180, 154, 3);
}