.heading {
    color: rebeccapurple;
}

.box {
    border: 5px solid orangered;
    padding: 5%;
    font-size: 100px;    
    
}

.nought {

    color: gold;
    background: dodgerblue;
}

.cross {
    color: dodgerblue;
    background: gold;
}